.split-button {
    display: flex;
    width: fit-content;
}

.box1 {
    width: 60px;
    height: 50px;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    position: relative;
    background: #0FCCAD;
    overflow: hidden;
}

.box2 {
    width: 60px;
    height: 50px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    position: relative;
    background: #0FCCAD;
    overflow: hidden;
}


.box1:before {
    content: "　　分";
}

.box2:before {
    content: "割　　";
}

.split-button:hover .box1 {
    transform: translateY(-10%);
}

.split-button:hover .box2 {
    transform: translateY(10%);
}